<HTML>

<HEAD>
   <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
   <script src="http://code.highcharts.com/modules/exporting.js"></script>
   
   <script>$(function () {
        var options = {

                            chart: {renderTo: 'container'},

                            title: {text: 'Temperature'},

                            subtitle: {text: ' '},

                            xAxis: {text: 'Time (UTC)',type: 'datetime'},

                            yAxis: [{ // left y axis

                                        title: {text: 'Temperature (C)'},

                                        labels: {align: 'left', x: 3, y: 16,

                                                formatter: function() {

                                        return
Highcharts.numberFormat(this.value, 0);}

                                    },

                                    showFirstLabel: false},

                                    { // right y axis

                                        linkedTo: 0, gridLineWidth: 0,
opposite: true,

                                        title: {text: 'Temperature (℉)'},

                                                labels: {align:
'right', x: -3, y: 16,

                                                    formatter: function() {

                                        return
Highcharts.numberFormat(this.value, 0);}

                                    },

                                    showFirstLabel: false

                            }],

                            series: [   {name: 'Air Temp'}

                                    ]

            };

    var chart = new Highcharts.Chart(options);

	var lasttimestamp;
	
	var getdata = function(query){
		var url;
		if (query) url="api?time="+query;
		else url="api";
		$.getJSON( url, function ( data ) {
			$.each( data, function( index, value ) {
			    lasttimestamp = value.datastringtime;
				chart.series[0].addPoint([value.datastringtime*1000, value.temperature]);
		    });
		});
	}
	getdata();
	
  setInterval(function(){
  getdata(lasttimestamp);
 },10000);
    });
    

    
</script>
</HEAD>

<BODY>
   <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
 </BODY>

</HTML>