<HTML>

<HEAD>
   <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
   <script src="http://code.highcharts.com/modules/exporting.js"></script>
   
   <script>$(function () {
        $('#container1').highcharts({
            title: {
                text: 'Temperature',
                x: -20 //center
            },
            xAxis: {
                
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'sensor1',
                data: [
				{% for result1 in results1 %}
				{{ result1.temperature }},
                {% endfor %}
				
				]},{
				name: 'sensor2',
                data: [
				{% for result2 in results2 %}
				{{ result2.temperature }},
                {% endfor %}
				
				]},{
				name: 'sensor3',
                data: [
				{% for result3 in results3 %}
				{{ result3.temperature }},
                {% endfor %}
				
				]
            }]
        });
    });
    
</script>
   <script>$(function () {
        $('#container2').highcharts({
            title: {
                text: 'Relative Humidity',
                x: -20 //center
            },
            xAxis: {
                
            },
            yAxis: {
                title: {
                    text: 'Relative humidity (%rH)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%rH'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'sensor1',
                data: [
				{% for result1 in results1 %}
				{{ result1.relativehumidity }},
                {% endfor %}
				
				]},{
				name: 'sensor2',
                data: [
				{% for result2 in results2 %}
				{{ result2.relativehumidity }},
                {% endfor %}
				
				]},{
				name: 'sensor3',
                data: [
				{% for result3 in results3 %}
				{{ result3.relativehumidity }},
                {% endfor %}
				
				]
            }]
        });
    });
    
</script>
</HEAD>

<BODY>
   <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
 </BODY>

</HTML>